.input {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  font-size: 16px;
  font-family: helvetica, sans-serif;
}

.viewOnly {
  line-height: 20px;
}
