.wrapper {
  /* background-color: rgba(0,0,0,0.5); */
  /* background-color: #3d3932; */
  background-color: black;
  box-shadow: 0 0 200px 80px rgba(255, 235, 199, 1);
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
}

.title {
  margin: 0;
}
