.wrapper {
  background-color: black;
  box-shadow: 0 0 8px 2px rgba(255, 235, 199, 1);
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  margin-bottom: 60vh;
}

.title {
  margin: 0;
}
