.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 500px) {
  .cards {
    display: flex;
    grid-template-columns: unset;
    flex-direction: column;
  }
}

.empty {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
  font-weight: 600;
}
