.card {
  padding: 6px;
  border-radius: 2px;
  color: white;
  background-color: #1d1b17;
  border: 1px solid #0e0d0a;
}

.locked {
}

.unlocked {
}

.title {
  flex-grow: 1;
  min-width: 200px;
  font-weight: 600;
}

.titleInput {
  font-size: 10pt;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  font-weight: 600;
  padding: 0;
}

input.titleInput {
  padding: 3px 0 0 0;
}

.unlocked .titleInput:hover,
.unlocked .titleInput:focus {
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  padding-top: 5px;
}

.ring {
  border: 2px solid white;
  border-radius: 2px;
  box-shadow: 0 0 8px 2px rgba(255, 224, 166, 0.3);
  position: relative;
}

.innerRing {
  border: 4px solid;
  border-radius: 2px;
}

.header {
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid #ffffff;
}

.headerButton {
  font-size: 12px;
  height: 20px;
}

.controls {
  display: flex;
  gap: 3px;
}
