.wrapper {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.controlButton {
  width: calc(100% - 10px);
  color: #2e2d28;
  background-color: white;
  border: 1px solid #aaa781;
  font-size: 18px;
  padding: 9px;
  font-weight: 600;
}

.open {
}

.wrapper.open {
  height: 60vh;
}

.content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  width: calc(100vw - 150px);
  background-color: white;
  flex-grow: 1;
  align-items: flex-start;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.test {
  background-color: #187900;
  color: #26bd00;
}
