.app {
  background: linear-gradient(to bottom right, #ffedc4, #464236);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  overflow: scroll;
}
